/* My Version of sweet Alert styling */
.swal2-popup {
    background: rgb(15, 15, 15);
    opacity: 1;
    color: white;
    border: 1px solid gray;
}

.swal2-validation-message {
    color: red;
    background: rgb(15, 15, 15);
    font-weight: bold;
}

.swal2-styled.swal2-confirm {
    background: #008eca !important;
}

.swal2-popup p {
    font-size: 18px !important;
}

/* Update data sweet alert styles */
.flex-container {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 75%;
    grid-template-columns: 40% auto;
}

.swal2-popup label {
    font-size: 20px;
    justify-self: left;
    align-self: center;
}

.swal2-popup input {
    padding: 10px;
    color: white;
    border: 1px solid gray !important;
    background: black;
    outline: none;
    border: 1px solid gray;
    margin-top: 10px;
}

/* REGISTRATION/LOGIN */
.failed-login-div {
    font-size: 20px;
}

.reset-password {
    transition: 0.5s all;
    color: #008eca;
    cursor: pointer;
}

.reset-password:hover {
    font-size: 25px;
}